// footer.scss
*{
  margin: 0px;
  padding: 0px;
}

.footer {
  background-color: #F26666;
  padding: 60px 0;
  width: 100%;
  z-index: 1000; /* Garante que o rodapé esteja acima de outros elementos */
  position: relative;
  margin-top: auto;
  bottom: 0%;
}


@media (max-width: 768px) {
  .footer {
    position: relative;
    padding: 20px 0;
  }
}
