// menu.scss
.lgbt-flag {
  background: linear-gradient(to right, #ff7575, #ffad75, #ffeb75, #a7ff75, #75c2ff, #d982ff);
  border: none;
}

.brand-color {
  color: #ffffff; // Cor do texto para a marca
}

.navbar-light .navbar-toggler-icon {
  background-color: #ffffff; // Cor do ícone do botão de alternância em telas menores
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff; // Cor do texto dos links
}

.navbar-light .navbar-toggler {
  border-color: #ffffff; // Cor da borda do botão de alternância
}

.button-color {
  background-color: #ffffff; // Cor de fundo do botão
  color: #000000; // Cor do texto do botão
}

.button-color:hover {
  background-color: #cccccc; // Cor de fundo do botão ao passar o mouse
}

// Adicione mais estilos conforme necessário


.brand-color {
    color: #4E5063;
}