// Importações do Bootstrap necessárias
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// Definindo suas cores personalizadas
$color1: #35278C;
$color2: #5155A6;
$color3: #022623;
$color4: #89D9D1;
$color5: #BF8665;

// Criando um mapa de cores personalizado
$custom-colors: (
  "color1": $color1,
  "color2": $color2,
  "color3": $color3,
  "color4": $color4,
  "color5": $color5
);

// Mesclando mapas de cores para criar utilidades adicionais
$all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans, $custom-colors);

// Estendendo o mapa $utilities para incluir as novas cores
$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors // Seu mapa de cores para cores de texto
          ),
        ),
      ),
    ),
    "background-color": map-merge(
      map-get($utilities, "background-color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "background-color"), "values"),
          (
            $all-colors // Seu mapa de cores para cores de fundo
          ),
        ),
      ),
    ),
  )
);

// Importações finais do Bootstrap
@import "bootstrap/scss/utilities/api";
