
.home-container{
  background: #7673D9

}

.btn-lg,
.btn-xl {
  width: 12rem; /* Defina a largura desejada para os botões */
  height: 3rem; /* Defina a altura desejada para os botões */
  font-size: 1.3rem;
}

// OffcanvasStyles.scss
.offcanvas-header {
  background-color: #f26666;
  color: #BDBEBF;
}



.offcanvas-body {
  padding: 20px;
  background-color: #7673D9
}

p {
  color: #BDBEBF;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #BDBEBF;
  li {

    a {
      color: #BDBEBF;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}




