
.home-container{
  background: #040F0F

}

.btn-lg,
.btn-xl {
  width: 12rem; /* Defina a largura desejada para os botões */
  height: 3rem; /* Defina a altura desejada para os botões */
  font-size: 1.3rem;
}

@media (max-width: 767px) {
  .btn-lg,
  .btn-xl {
    width: 10rem; /* Ajuste a largura desejada para telas menores */
    height: 2.5rem; /* Ajuste a altura desejada para telas menores */
    font-size: 1rem; /* Ajuste o tamanho da fonte desejado para telas menores */
  }
}

